<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Beer Shop</title>
  <script   src="https://code.jquery.com/jquery-2.2.4.js" ></script>
<!--   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
<h1>What Nationality Are You Subconsciously  </h1>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1676993712624548";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- <div class="fb-share-button" data-href="http://arcane-sea-52275.herokuapp.com/  " data-layout="button_count" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Farcane-sea-52275.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></div> -->

<div class="wrapper">
<p id ='status'> </p>

<button onclick="login()" class="fb-login-button " data-show-faces="true"></button>
<div class="fb-share-button" data-href="http://arcane-sea-52275.herokuapp.com/  " data-layout="button_count" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Farcane-sea-52275.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></div>

<button onclick="logout()" class="fb_button fb_button_medium " data-show-faces="true">Logout</button>
<!-- <span id="fbLogout" onclick="logout()"><a class="fb_button fb_button_medium"><span class="fb_button_text">Logout</span></a></span> -->
</div>




    <div class="quizContainer">
    <h1>Hello! Welcome to my Quiz!</h1>

    <div class="question"></div>
    <ul class="choiceList"></ul>
    <div class="quizMessage"></div>
    <div class="result"></div>
    <div class="nextButton">Next Question</div>
    <button class="btn">See result</button>
    <br>
  </div>

  <img id="ItemPreview1" src="" />
   <img id="ItemPreview2" src="" />
    <img id="ItemPreview3" src="" />
     <img id="ItemPreview4" src="" />
      <img id="ItemPreview5" src="" />
     <div id="all">
</div>





  </body>
  </html>
